## Transformação de Dados

### Carregando itens necessários

**Bibliotecas**

In [1]:
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sb
import numpy as np

**Datasets**

In [2]:
ano_2021 = pd.read_csv('../datasets/cleaned/ano_2021.csv', sep=';', on_bad_lines='skip', encoding='latin-1')
ano_2020 = pd.read_csv('../datasets/cleaned/ano_2020.csv', sep=';', on_bad_lines='skip', encoding='latin-1')
ano_2019 = pd.read_csv('../datasets/cleaned/ano_2019.csv', sep=';', on_bad_lines='skip', encoding='latin-1')
ano_2018 = pd.read_csv('../datasets/cleaned/ano_2018.csv', sep=';', on_bad_lines='skip', encoding='latin-1')

In [3]:
datasets = [ano_2021, ano_2020, ano_2019, ano_2018]

In [4]:
for df in datasets:
    df.drop(df.columns[0], axis=1, inplace=True)
    print(df.columns)

Index(['situacao', 'regiao', 'estado', 'subeixo_tec', 'nome_curso',
       'modalidade', 'turno', 'carga_horaria', 'fator_esforco_curso', 'sexo',
       'etnia', 'faixa_etaria', 'renda_familiar', 'tipo_curso'],
      dtype='object')
Index(['situacao', 'regiao', 'estado', 'subeixo_tec', 'nome_curso',
       'modalidade', 'turno', 'carga_horaria', 'fator_esforco_curso', 'sexo',
       'etnia', 'faixa_etaria', 'renda_familiar', 'tipo_curso'],
      dtype='object')
Index(['situacao', 'regiao', 'estado', 'subeixo_tec', 'nome_curso',
       'modalidade', 'turno', 'carga_horaria', 'fator_esforco_curso', 'sexo',
       'etnia', 'faixa_etaria', 'renda_familiar', 'tipo_curso'],
      dtype='object')
Index(['situacao', 'regiao', 'estado', 'subeixo_tec', 'nome_curso',
       'modalidade', 'turno', 'carga_horaria', 'fator_esforco_curso', 'sexo',
       'etnia', 'faixa_etaria', 'renda_familiar', 'tipo_curso'],
      dtype='object')

In [5]:
encoded = []

In [6]:
df = ano_2020.iloc[:20]
df

,situacao,regiao,estado,subeixo_tec,nome_curso,modalidade,turno,carga_horaria,fator_esforco_curso,sexo,etnia,faixa_etaria,renda_familiar,tipo_curso
0,Em curso,Região Centro-Oeste,MT,Informática,Engenharia de Computação,Educação Presencial,Integral,4475,"1,06",F,NaN,25 a 29 anos,NaN,SUPERIOR
1,Em curso,Região Centro-Oeste,MT,Informática,Engenharia de Computação,Educação Presencial,Integral,4475,"1,06",F,NaN,35 a 39 anos,NaN,SUPERIOR
2,Evadidos,Região Centro-Oeste,DF,Informática,Técnico em Informática,Educação Presencial,Integral,3567,"1,25",F,PARDA,20 a 24 anos,NaN,TECNICO_INTEGRADO
3,Em curso,Região Centro-Oeste,DF,Informática,Ciência da Computação,Educação Presencial,Integral,3218,"1,1",F,PARDA,25 a 29 anos,"0,5<RFP<=1",SUPERIOR
4,Evadidos,Região Centro-Oeste,DF,Informática,Ciência da Computação,Educação Presencial,Integral,3218,"1,1",F,PARDA,35 a 39 anos,"0<RFP<=0,5",SUPERIOR
5,Concluintes,Região Centro-Oeste,MT,Informática,Engenharia de Computação,Educação Presencial,Integral,4280,"1,06",F,PARDA,25 a 29 anos,NaN,SUPERIOR
6,Concluintes,Região Centro-Oeste,MS,Informática,Técnico em Informática para Internet,Educação Presencial,Matutino,3360,"1,25",F,BRANCA,20 a 24 anos,NaN,TECNICO_INTEGRADO
7,Concluintes,Região Centro-Oeste,MS,Informática,Técnico em Informática para Internet,Educação Presencial,Matutino,3380,"1,25",F,PARDA,15 a 19 anos,"0<RFP<=0,5",TECNICO_INTEGRADO
8,Em curso,Região Centro-Oeste,MS,Informática,Sistemas para Internet,Educação Presencial,Noturno,2415,"1,25",F,AMARELA,30 a 34 anos,"0<RFP<=0,5",SUPERIOR
9,Em curso,Região Centro-Oeste,GO,Informática,Sistemas de Informação,Educação Presencial,Noturno,3142,"1,21",F,BRANCA,20 a 24 anos,"2,5<RFP<=3,5",SUPERIOR
10,Concluintes,Região Centro-Oeste,GO,Informática,Sistemas de Informação,Educação Presencial,Noturno,3000,"1,21",F,BRANCA,25 a 29 anos,NaN,SUPERIOR
11,Concluintes,Região Centro-Oeste,GO,Informática,Sistemas de Informação,Educação Presencial,Noturno,3000,"1,21",F,BRANCA,35 a 39 anos,NaN,SUPERIOR
12,Concluintes,Região Centro-Oeste,GO,Informática,Gestão da Tecnologia da Informação,Educação Presencial,Noturno,2226,"1,25",F,NaN,25 a 29 anos,NaN,SUPERIOR
13,Em curso,Região Centro-Oeste,MS,Informática,Sistemas para Internet,Educação Presencial,Noturno,2025,"1,25",F,NaN,40 a 44 anos,NaN,SUPERIOR
14,Evadidos,Região Centro-Oeste,MT,Informática,Técnico em Informática,Educação Presencial,Noturno,1300,"1,25",F,NaN,20 a 24 anos,NaN,TECNICO_SUBSEQUENTE
15,Evadidos,Região Centro-Oeste,GO,Informática,Análise e Desenvolvimento de Sistemas,Educação Presencial,Noturno,2166,"1,25",F,PARDA,25 a 29 anos,"1,5<RFP<=2,5",SUPERIOR
16,Concluintes,Região Centro-Oeste,MT,Informática,Análise e Desenvolvimento de Sistemas,Educação Presencial,Noturno,2480,"1,25",F,PARDA,35 a 39 anos,"1,5<RFP<=2,5",SUPERIOR
17,Concluintes,Região Centro-Oeste,GO,Informática,Sistemas de Informação,Educação Presencial,Noturno,3142,"1,21",F,PARDA,20 a 24 anos,"1<RFP<=1,5",SUPERIOR
18,Evadidos,Região Centro-Oeste,GO,Informática,Análise e Desenvolvimento de Sistemas,Educação Presencial,Noturno,2370,"1,25",F,PARDA,20 a 24 anos,"1<RFP<=1,5",SUPERIOR
19,Em curso,Região Centro-Oeste,MS,Informática,Sistemas para Internet,Educação Presencial,Noturno,2500,"1,25",F,PARDA,35 a 39 anos,"1<RFP<=1,5",SUPERIOR

### Valores numéricos

In [7]:
df['fator_esforco_curso']=df['fator_esforco_curso'].str.replace(',','.')
df

C:\Users\danie\AppData\Local\Temp\ipykernel_21316\1071637197.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['fator_esforco_curso']=df['fator_esforco_curso'].str.replace(',','.')

,situacao,regiao,estado,subeixo_tec,nome_curso,modalidade,turno,carga_horaria,fator_esforco_curso,sexo,etnia,faixa_etaria,renda_familiar,tipo_curso
0,Em curso,Região Centro-Oeste,MT,Informática,Engenharia de Computação,Educação Presencial,Integral,4475,1.06,F,NaN,25 a 29 anos,NaN,SUPERIOR
1,Em curso,Região Centro-Oeste,MT,Informática,Engenharia de Computação,Educação Presencial,Integral,4475,1.06,F,NaN,35 a 39 anos,NaN,SUPERIOR
2,Evadidos,Região Centro-Oeste,DF,Informática,Técnico em Informática,Educação Presencial,Integral,3567,1.25,F,PARDA,20 a 24 anos,NaN,TECNICO_INTEGRADO
3,Em curso,Região Centro-Oeste,DF,Informática,Ciência da Computação,Educação Presencial,Integral,3218,1.1,F,PARDA,25 a 29 anos,"0,5<RFP<=1",SUPERIOR
4,Evadidos,Região Centro-Oeste,DF,Informática,Ciência da Computação,Educação Presencial,Integral,3218,1.1,F,PARDA,35 a 39 anos,"0<RFP<=0,5",SUPERIOR
5,Concluintes,Região Centro-Oeste,MT,Informática,Engenharia de Computação,Educação Presencial,Integral,4280,1.06,F,PARDA,25 a 29 anos,NaN,SUPERIOR
6,Concluintes,Região Centro-Oeste,MS,Informática,Técnico em Informática para Internet,Educação Presencial,Matutino,3360,1.25,F,BRANCA,20 a 24 anos,NaN,TECNICO_INTEGRADO
7,Concluintes,Região Centro-Oeste,MS,Informática,Técnico em Informática para Internet,Educação Presencial,Matutino,3380,1.25,F,PARDA,15 a 19 anos,"0<RFP<=0,5",TECNICO_INTEGRADO
8,Em curso,Região Centro-Oeste,MS,Informática,Sistemas para Internet,Educação Presencial,Noturno,2415,1.25,F,AMARELA,30 a 34 anos,"0<RFP<=0,5",SUPERIOR
9,Em curso,Região Centro-Oeste,GO,Informática,Sistemas de Informação,Educação Presencial,Noturno,3142,1.21,F,BRANCA,20 a 24 anos,"2,5<RFP<=3,5",SUPERIOR
10,Concluintes,Região Centro-Oeste,GO,Informática,Sistemas de Informação,Educação Presencial,Noturno,3000,1.21,F,BRANCA,25 a 29 anos,NaN,SUPERIOR
11,Concluintes,Região Centro-Oeste,GO,Informática,Sistemas de Informação,Educação Presencial,Noturno,3000,1.21,F,BRANCA,35 a 39 anos,NaN,SUPERIOR
12,Concluintes,Região Centro-Oeste,GO,Informática,Gestão da Tecnologia da Informação,Educação Presencial,Noturno,2226,1.25,F,NaN,25 a 29 anos,NaN,SUPERIOR
13,Em curso,Região Centro-Oeste,MS,Informática,Sistemas para Internet,Educação Presencial,Noturno,2025,1.25,F,NaN,40 a 44 anos,NaN,SUPERIOR
14,Evadidos,Região Centro-Oeste,MT,Informática,Técnico em Informática,Educação Presencial,Noturno,1300,1.25,F,NaN,20 a 24 anos,NaN,TECNICO_SUBSEQUENTE
15,Evadidos,Região Centro-Oeste,GO,Informática,Análise e Desenvolvimento de Sistemas,Educação Presencial,Noturno,2166,1.25,F,PARDA,25 a 29 anos,"1,5<RFP<=2,5",SUPERIOR
16,Concluintes,Região Centro-Oeste,MT,Informática,Análise e Desenvolvimento de Sistemas,Educação Presencial,Noturno,2480,1.25,F,PARDA,35 a 39 anos,"1,5<RFP<=2,5",SUPERIOR
17,Concluintes,Região Centro-Oeste,GO,Informática,Sistemas de Informação,Educação Presencial,Noturno,3142,1.21,F,PARDA,20 a 24 anos,"1<RFP<=1,5",SUPERIOR
18,Evadidos,Região Centro-Oeste,GO,Informática,Análise e Desenvolvimento de Sistemas,Educação Presencial,Noturno,2370,1.25,F,PARDA,20 a 24 anos,"1<RFP<=1,5",SUPERIOR
19,Em curso,Região Centro-Oeste,MS,Informática,Sistemas para Internet,Educação Presencial,Noturno,2500,1.25,F,PARDA,35 a 39 anos,"1<RFP<=1,5",SUPERIOR

In [8]:
from sklearn.preprocessing import MinMaxScaler

scaler_ch = MinMaxScaler()
scaler_fec = MinMaxScaler()

# Fit the scaler on the column (reshape for 2D compatibility)
scaler_ch.fit(df['carga_horaria'].values.reshape(-1, 1))  # Reshape to 2D
scaler_fec.fit(df['fator_esforco_curso'].values.reshape(-1, 1))  # Reshape to 2D

# Transform the column using the fitted scaler
df['carga_horaria'] = scaler_ch.transform(df['carga_horaria'].values.reshape(-1, 1))
df['fator_esforco_curso'] = scaler_ch.transform(df['fator_esforco_curso'].values.reshape(-1, 1))

df

C:\Users\danie\AppData\Local\Temp\ipykernel_21316\4147124849.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['carga_horaria'] = scaler_ch.transform(df['carga_horaria'].values.reshape(-1, 1))
C:\Users\danie\AppData\Local\Temp\ipykernel_21316\4147124849.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['fator_esforco_curso'] = scaler_ch.transform(df['fator_esforco_curso'].values.reshape(-1, 1))

,situacao,regiao,estado,subeixo_tec,nome_curso,modalidade,turno,carga_horaria,fator_esforco_curso,sexo,etnia,faixa_etaria,renda_familiar,tipo_curso
0,Em curso,Região Centro-Oeste,MT,Informática,Engenharia de Computação,Educação Presencial,Integral,1.000000,-0.409115,F,NaN,25 a 29 anos,NaN,SUPERIOR
1,Em curso,Região Centro-Oeste,MT,Informática,Engenharia de Computação,Educação Presencial,Integral,1.000000,-0.409115,F,NaN,35 a 39 anos,NaN,SUPERIOR
2,Evadidos,Região Centro-Oeste,DF,Informática,Técnico em Informática,Educação Presencial,Integral,0.714016,-0.409055,F,PARDA,20 a 24 anos,NaN,TECNICO_INTEGRADO
3,Em curso,Região Centro-Oeste,DF,Informática,Ciência da Computação,Educação Presencial,Integral,0.604094,-0.409102,F,PARDA,25 a 29 anos,"0,5<RFP<=1",SUPERIOR
4,Evadidos,Região Centro-Oeste,DF,Informática,Ciência da Computação,Educação Presencial,Integral,0.604094,-0.409102,F,PARDA,35 a 39 anos,"0<RFP<=0,5",SUPERIOR
5,Concluintes,Região Centro-Oeste,MT,Informática,Engenharia de Computação,Educação Presencial,Integral,0.938583,-0.409115,F,PARDA,25 a 29 anos,NaN,SUPERIOR
6,Concluintes,Região Centro-Oeste,MS,Informática,Técnico em Informática para Internet,Educação Presencial,Matutino,0.648819,-0.409055,F,BRANCA,20 a 24 anos,NaN,TECNICO_INTEGRADO
7,Concluintes,Região Centro-Oeste,MS,Informática,Técnico em Informática para Internet,Educação Presencial,Matutino,0.655118,-0.409055,F,PARDA,15 a 19 anos,"0<RFP<=0,5",TECNICO_INTEGRADO
8,Em curso,Região Centro-Oeste,MS,Informática,Sistemas para Internet,Educação Presencial,Noturno,0.351181,-0.409055,F,AMARELA,30 a 34 anos,"0<RFP<=0,5",SUPERIOR
9,Em curso,Região Centro-Oeste,GO,Informática,Sistemas de Informação,Educação Presencial,Noturno,0.580157,-0.409068,F,BRANCA,20 a 24 anos,"2,5<RFP<=3,5",SUPERIOR
10,Concluintes,Região Centro-Oeste,GO,Informática,Sistemas de Informação,Educação Presencial,Noturno,0.535433,-0.409068,F,BRANCA,25 a 29 anos,NaN,SUPERIOR
11,Concluintes,Região Centro-Oeste,GO,Informática,Sistemas de Informação,Educação Presencial,Noturno,0.535433,-0.409068,F,BRANCA,35 a 39 anos,NaN,SUPERIOR
12,Concluintes,Região Centro-Oeste,GO,Informática,Gestão da Tecnologia da Informação,Educação Presencial,Noturno,0.291654,-0.409055,F,NaN,25 a 29 anos,NaN,SUPERIOR
13,Em curso,Região Centro-Oeste,MS,Informática,Sistemas para Internet,Educação Presencial,Noturno,0.228346,-0.409055,F,NaN,40 a 44 anos,NaN,SUPERIOR
14,Evadidos,Região Centro-Oeste,MT,Informática,Técnico em Informática,Educação Presencial,Noturno,0.000000,-0.409055,F,NaN,20 a 24 anos,NaN,TECNICO_SUBSEQUENTE
15,Evadidos,Região Centro-Oeste,GO,Informática,Análise e Desenvolvimento de Sistemas,Educação Presencial,Noturno,0.272756,-0.409055,F,PARDA,25 a 29 anos,"1,5<RFP<=2,5",SUPERIOR
16,Concluintes,Região Centro-Oeste,MT,Informática,Análise e Desenvolvimento de Sistemas,Educação Presencial,Noturno,0.371654,-0.409055,F,PARDA,35 a 39 anos,"1,5<RFP<=2,5",SUPERIOR
17,Concluintes,Região Centro-Oeste,GO,Informática,Sistemas de Informação,Educação Presencial,Noturno,0.580157,-0.409068,F,PARDA,20 a 24 anos,"1<RFP<=1,5",SUPERIOR
18,Evadidos,Região Centro-Oeste,GO,Informática,Análise e Desenvolvimento de Sistemas,Educação Presencial,Noturno,0.337008,-0.409055,F,PARDA,20 a 24 anos,"1<RFP<=1,5",SUPERIOR
19,Em curso,Região Centro-Oeste,MS,Informática,Sistemas para Internet,Educação Presencial,Noturno,0.377953,-0.409055,F,PARDA,35 a 39 anos,"1<RFP<=1,5",SUPERIOR

### Valores categóricos

In [9]:
df_dummies = pd.get_dummies(df, columns=['regiao', 'estado', 'subeixo_tec', 'nome_curso', 'modalidade', 'turno', 'tipo_curso'])
df_dummies

,situacao,carga_horaria,fator_esforco_curso,sexo,etnia,faixa_etaria,renda_familiar,regiao_Região Centro-Oeste,estado_DF,estado_GO,...,nome_curso_Sistemas para Internet,nome_curso_Técnico em Informática,nome_curso_Técnico em Informática para Internet,modalidade_Educação Presencial,turno_Integral,turno_Matutino,turno_Noturno,tipo_curso_SUPERIOR,tipo_curso_TECNICO_INTEGRADO,tipo_curso_TECNICO_SUBSEQUENTE
0,Em curso,1.000000,-0.409115,F,NaN,25 a 29 anos,NaN,True,False,False,...,False,False,False,True,True,False,False,True,False,False
1,Em curso,1.000000,-0.409115,F,NaN,35 a 39 anos,NaN,True,False,False,...,False,False,False,True,True,False,False,True,False,False
2,Evadidos,0.714016,-0.409055,F,PARDA,20 a 24 anos,NaN,True,True,False,...,False,True,False,True,True,False,False,False,True,False
3,Em curso,0.604094,-0.409102,F,PARDA,25 a 29 anos,"0,5<RFP<=1",True,True,False,...,False,False,False,True,True,False,False,True,False,False
4,Evadidos,0.604094,-0.409102,F,PARDA,35 a 39 anos,"0<RFP<=0,5",True,True,False,...,False,False,False,True,True,False,False,True,False,False
5,Concluintes,0.938583,-0.409115,F,PARDA,25 a 29 anos,NaN,True,False,False,...,False,False,False,True,True,False,False,True,False,False
6,Concluintes,0.648819,-0.409055,F,BRANCA,20 a 24 anos,NaN,True,False,False,...,False,False,True,True,False,True,False,False,True,False
7,Concluintes,0.655118,-0.409055,F,PARDA,15 a 19 anos,"0<RFP<=0,5",True,False,False,...,False,False,True,True,False,True,False,False,True,False
8,Em curso,0.351181,-0.409055,F,AMARELA,30 a 34 anos,"0<RFP<=0,5",True,False,False,...,True,False,False,True,False,False,True,True,False,False
9,Em curso,0.580157,-0.409068,F,BRANCA,20 a 24 anos,"2,5<RFP<=3,5",True,False,True,...,False,False,False,True,False,False,True,True,False,False
10,Concluintes,0.535433,-0.409068,F,BRANCA,25 a 29 anos,NaN,True,False,True,...,False,False,False,True,False,False,True,True,False,False
11,Concluintes,0.535433,-0.409068,F,BRANCA,35 a 39 anos,NaN,True,False,True,...,False,False,False,True,False,False,True,True,False,False
12,Concluintes,0.291654,-0.409055,F,NaN,25 a 29 anos,NaN,True,False,True,...,False,False,False,True,False,False,True,True,False,False
13,Em curso,0.228346,-0.409055,F,NaN,40 a 44 anos,NaN,True,False,False,...,True,False,False,True,False,False,True,True,False,False
14,Evadidos,0.000000,-0.409055,F,NaN,20 a 24 anos,NaN,True,False,False,...,False,True,False,True,False,False,True,False,False,True
15,Evadidos,0.272756,-0.409055,F,PARDA,25 a 29 anos,"1,5<RFP<=2,5",True,False,True,...,False,False,False,True,False,False,True,True,False,False
16,Concluintes,0.371654,-0.409055,F,PARDA,35 a 39 anos,"1,5<RFP<=2,5",True,False,False,...,False,False,False,True,False,False,True,True,False,False
17,Concluintes,0.580157,-0.409068,F,PARDA,20 a 24 anos,"1<RFP<=1,5",True,False,True,...,False,False,False,True,False,False,True,True,False,False
18,Evadidos,0.337008,-0.409055,F,PARDA,20 a 24 anos,"1<RFP<=1,5",True,False,True,...,False,False,False,True,False,False,True,True,False,False
19,Em curso,0.377953,-0.409055,F,PARDA,35 a 39 anos,"1<RFP<=1,5",True,False,False,...,True,False,False,True,False,False,True,True,False,False

#### Etnia

In [10]:
df_etnia = df_dummies.drop(['situacao', 'faixa_etaria', 'renda_familiar', 'sexo'], axis=1)
df_etnia

,carga_horaria,fator_esforco_curso,etnia,regiao_Região Centro-Oeste,estado_DF,estado_GO,estado_MS,estado_MT,subeixo_tec_Informática,nome_curso_Análise e Desenvolvimento de Sistemas,...,nome_curso_Sistemas para Internet,nome_curso_Técnico em Informática,nome_curso_Técnico em Informática para Internet,modalidade_Educação Presencial,turno_Integral,turno_Matutino,turno_Noturno,tipo_curso_SUPERIOR,tipo_curso_TECNICO_INTEGRADO,tipo_curso_TECNICO_SUBSEQUENTE
0,1.000000,-0.409115,NaN,True,False,False,False,True,True,False,...,False,False,False,True,True,False,False,True,False,False
1,1.000000,-0.409115,NaN,True,False,False,False,True,True,False,...,False,False,False,True,True,False,False,True,False,False
2,0.714016,-0.409055,PARDA,True,True,False,False,False,True,False,...,False,True,False,True,True,False,False,False,True,False
3,0.604094,-0.409102,PARDA,True,True,False,False,False,True,False,...,False,False,False,True,True,False,False,True,False,False
4,0.604094,-0.409102,PARDA,True,True,False,False,False,True,False,...,False,False,False,True,True,False,False,True,False,False
5,0.938583,-0.409115,PARDA,True,False,False,False,True,True,False,...,False,False,False,True,True,False,False,True,False,False
6,0.648819,-0.409055,BRANCA,True,False,False,True,False,True,False,...,False,False,True,True,False,True,False,False,True,False
7,0.655118,-0.409055,PARDA,True,False,False,True,False,True,False,...,False,False,True,True,False,True,False,False,True,False
8,0.351181,-0.409055,AMARELA,True,False,False,True,False,True,False,...,True,False,False,True,False,False,True,True,False,False
9,0.580157,-0.409068,BRANCA,True,False,True,False,False,True,False,...,False,False,False,True,False,False,True,True,False,False
10,0.535433,-0.409068,BRANCA,True,False,True,False,False,True,False,...,False,False,False,True,False,False,True,True,False,False
11,0.535433,-0.409068,BRANCA,True,False,True,False,False,True,False,...,False,False,False,True,False,False,True,True,False,False
12,0.291654,-0.409055,NaN,True,False,True,False,False,True,False,...,False,False,False,True,False,False,True,True,False,False
13,0.228346,-0.409055,NaN,True,False,False,True,False,True,False,...,True,False,False,True,False,False,True,True,False,False
14,0.000000,-0.409055,NaN,True,False,False,False,True,True,False,...,False,True,False,True,False,False,True,False,False,True
15,0.272756,-0.409055,PARDA,True,False,True,False,False,True,True,...,False,False,False,True,False,False,True,True,False,False
16,0.371654,-0.409055,PARDA,True,False,False,False,True,True,True,...,False,False,False,True,False,False,True,True,False,False
17,0.580157,-0.409068,PARDA,True,False,True,False,False,True,False,...,False,False,False,True,False,False,True,True,False,False
18,0.337008,-0.409055,PARDA,True,False,True,False,False,True,True,...,False,False,False,True,False,False,True,True,False,False
19,0.377953,-0.409055,PARDA,True,False,False,True,False,True,False,...,True,False,False,True,False,False,True,True,False,False

In [11]:
df_etnia.isna().sum()

carga_horaria                                       0
fator_esforco_curso                                 0
etnia                                               5
regiao_Região Centro-Oeste                          0
estado_DF                                           0
estado_GO                                           0
estado_MS                                           0
estado_MT                                           0
subeixo_tec_Informática                             0
nome_curso_Análise e Desenvolvimento de Sistemas    0
nome_curso_Ciência da Computação                    0
nome_curso_Engenharia de Computação                 0
nome_curso_Gestão da Tecnologia da Informação       0
nome_curso_Sistemas de Informação                   0
nome_curso_Sistemas para Internet                   0
nome_curso_Técnico em Informática                   0
nome_curso_Técnico em Informática para Internet     0
modalidade_Educação Presencial                      0
turno_Integral                                      0
turno_Matutino                                      0
turno_Noturno                                       0
tipo_curso_SUPERIOR                                 0
tipo_curso_TECNICO_INTEGRADO                        0
tipo_curso_TECNICO_SUBSEQUENTE                      0
dtype: int64

In [15]:
df_etnia.sort_values(by='etnia', inplace=True)
df_etnia

,carga_horaria,fator_esforco_curso,etnia,regiao_Região Centro-Oeste,estado_DF,estado_GO,estado_MS,estado_MT,subeixo_tec_Informática,nome_curso_Análise e Desenvolvimento de Sistemas,...,nome_curso_Sistemas para Internet,nome_curso_Técnico em Informática,nome_curso_Técnico em Informática para Internet,modalidade_Educação Presencial,turno_Integral,turno_Matutino,turno_Noturno,tipo_curso_SUPERIOR,tipo_curso_TECNICO_INTEGRADO,tipo_curso_TECNICO_SUBSEQUENTE
8,0.351181,-0.409055,AMARELA,True,False,False,True,False,True,False,...,True,False,False,True,False,False,True,True,False,False
6,0.648819,-0.409055,BRANCA,True,False,False,True,False,True,False,...,False,False,True,True,False,True,False,False,True,False
9,0.580157,-0.409068,BRANCA,True,False,True,False,False,True,False,...,False,False,False,True,False,False,True,True,False,False
10,0.535433,-0.409068,BRANCA,True,False,True,False,False,True,False,...,False,False,False,True,False,False,True,True,False,False
11,0.535433,-0.409068,BRANCA,True,False,True,False,False,True,False,...,False,False,False,True,False,False,True,True,False,False
2,0.714016,-0.409055,PARDA,True,True,False,False,False,True,False,...,False,True,False,True,True,False,False,False,True,False
3,0.604094,-0.409102,PARDA,True,True,False,False,False,True,False,...,False,False,False,True,True,False,False,True,False,False
4,0.604094,-0.409102,PARDA,True,True,False,False,False,True,False,...,False,False,False,True,True,False,False,True,False,False
5,0.938583,-0.409115,PARDA,True,False,False,False,True,True,False,...,False,False,False,True,True,False,False,True,False,False
7,0.655118,-0.409055,PARDA,True,False,False,True,False,True,False,...,False,False,True,True,False,True,False,False,True,False
15,0.272756,-0.409055,PARDA,True,False,True,False,False,True,True,...,False,False,False,True,False,False,True,True,False,False
16,0.371654,-0.409055,PARDA,True,False,False,False,True,True,True,...,False,False,False,True,False,False,True,True,False,False
17,0.580157,-0.409068,PARDA,True,False,True,False,False,True,False,...,False,False,False,True,False,False,True,True,False,False
18,0.337008,-0.409055,PARDA,True,False,True,False,False,True,True,...,False,False,False,True,False,False,True,True,False,False
19,0.377953,-0.409055,PARDA,True,False,False,True,False,True,False,...,True,False,False,True,False,False,True,True,False,False
0,1.000000,-0.409115,NaN,True,False,False,False,True,True,False,...,False,False,False,True,True,False,False,True,False,False
1,1.000000,-0.409115,NaN,True,False,False,False,True,True,False,...,False,False,False,True,True,False,False,True,False,False
12,0.291654,-0.409055,NaN,True,False,True,False,False,True,False,...,False,False,False,True,False,False,True,True,False,False
13,0.228346,-0.409055,NaN,True,False,False,True,False,True,False,...,True,False,False,True,False,False,True,True,False,False
14,0.000000,-0.409055,NaN,True,False,False,False,True,True,False,...,False,True,False,True,False,False,True,False,False,True

In [29]:
# Find the index position where NaN starts (excluding NaN itself)
first_nan_index = df_etnia['etnia'].isna().argmax()
print(first_nan_index)

15

In [39]:
X_train = df_etnia.iloc[0:first_nan_index].drop('etnia', axis=1)
y_train = df_etnia['etnia'].iloc[0:first_nan_index]

In [40]:
X_train

,carga_horaria,fator_esforco_curso,regiao_Região Centro-Oeste,estado_DF,estado_GO,estado_MS,estado_MT,subeixo_tec_Informática,nome_curso_Análise e Desenvolvimento de Sistemas,nome_curso_Ciência da Computação,...,nome_curso_Sistemas para Internet,nome_curso_Técnico em Informática,nome_curso_Técnico em Informática para Internet,modalidade_Educação Presencial,turno_Integral,turno_Matutino,turno_Noturno,tipo_curso_SUPERIOR,tipo_curso_TECNICO_INTEGRADO,tipo_curso_TECNICO_SUBSEQUENTE
8,0.351181,-0.409055,True,False,False,True,False,True,False,False,...,True,False,False,True,False,False,True,True,False,False
6,0.648819,-0.409055,True,False,False,True,False,True,False,False,...,False,False,True,True,False,True,False,False,True,False
9,0.580157,-0.409068,True,False,True,False,False,True,False,False,...,False,False,False,True,False,False,True,True,False,False
10,0.535433,-0.409068,True,False,True,False,False,True,False,False,...,False,False,False,True,False,False,True,True,False,False
11,0.535433,-0.409068,True,False,True,False,False,True,False,False,...,False,False,False,True,False,False,True,True,False,False
2,0.714016,-0.409055,True,True,False,False,False,True,False,False,...,False,True,False,True,True,False,False,False,True,False
3,0.604094,-0.409102,True,True,False,False,False,True,False,True,...,False,False,False,True,True,False,False,True,False,False
4,0.604094,-0.409102,True,True,False,False,False,True,False,True,...,False,False,False,True,True,False,False,True,False,False
5,0.938583,-0.409115,True,False,False,False,True,True,False,False,...,False,False,False,True,True,False,False,True,False,False
7,0.655118,-0.409055,True,False,False,True,False,True,False,False,...,False,False,True,True,False,True,False,False,True,False
15,0.272756,-0.409055,True,False,True,False,False,True,True,False,...,False,False,False,True,False,False,True,True,False,False
16,0.371654,-0.409055,True,False,False,False,True,True,True,False,...,False,False,False,True,False,False,True,True,False,False
17,0.580157,-0.409068,True,False,True,False,False,True,False,False,...,False,False,False,True,False,False,True,True,False,False
18,0.337008,-0.409055,True,False,True,False,False,True,True,False,...,False,False,False,True,False,False,True,True,False,False
19,0.377953,-0.409055,True,False,False,True,False,True,False,False,...,True,False,False,True,False,False,True,True,False,False

In [41]:
y_train

8     AMARELA
6      BRANCA
9      BRANCA
10     BRANCA
11     BRANCA
2       PARDA
3       PARDA
4       PARDA
5       PARDA
7       PARDA
15      PARDA
16      PARDA
17      PARDA
18      PARDA
19      PARDA
Name: etnia, dtype: object

In [43]:
# Using .iloc[-1]
last_line_index = df.tail(1).index[0] 
last_line_index

19

In [44]:
X_test = df_etnia.iloc[first_nan_index:last_line_index+1].drop('etnia', axis=1)
y_test = df_etnia['etnia'].iloc[first_nan_index:last_line_index+1]

In [45]:
X_test

,carga_horaria,fator_esforco_curso,regiao_Região Centro-Oeste,estado_DF,estado_GO,estado_MS,estado_MT,subeixo_tec_Informática,nome_curso_Análise e Desenvolvimento de Sistemas,nome_curso_Ciência da Computação,...,nome_curso_Sistemas para Internet,nome_curso_Técnico em Informática,nome_curso_Técnico em Informática para Internet,modalidade_Educação Presencial,turno_Integral,turno_Matutino,turno_Noturno,tipo_curso_SUPERIOR,tipo_curso_TECNICO_INTEGRADO,tipo_curso_TECNICO_SUBSEQUENTE
0,1.000000,-0.409115,True,False,False,False,True,True,False,False,...,False,False,False,True,True,False,False,True,False,False
1,1.000000,-0.409115,True,False,False,False,True,True,False,False,...,False,False,False,True,True,False,False,True,False,False
12,0.291654,-0.409055,True,False,True,False,False,True,False,False,...,False,False,False,True,False,False,True,True,False,False
13,0.228346,-0.409055,True,False,False,True,False,True,False,False,...,True,False,False,True,False,False,True,True,False,False
14,0.000000,-0.409055,True,False,False,False,True,True,False,False,...,False,True,False,True,False,False,True,False,False,True

In [46]:
y_test

0     NaN
1     NaN
12    NaN
13    NaN
14    NaN
Name: etnia, dtype: object

In [47]:
from sklearn.tree import DecisionTreeClassifier

# Create a KNN classifier object
tree = DecisionTreeClassifier(max_depth=5)

# Train the model on your features (X) and target variable (y)
tree.fit(X_train, y_train)

# Make predictions on the testing set (containing null values)
predicted = tree.predict(X_test)
print(predicted)

['PARDA' 'PARDA' 'PARDA' 'AMARELA' 'PARDA']

In [49]:
from sklearn.metrics import accuracy_score

# Calculate accuracy on the testing set
accuracy = accuracy_score(y_test, predicted)
print("Model Accuracy:", accuracy)

ValueError: Classification metrics can't handle a mix of unknown and binary targets

In [ ]:
print(a)

In [ ]:
# # Impute null values with predicted categories
# X_test['target_col'] = X_test['target_col'].fillna(predicted_categories)

In [ ]:
# # Coluna alvo
# y = df['situacao']
# # Variáveis numéricas
# X_numerical = df[['carga_horaria', 'fator_esforco_curso']]
# # Variáveis categóricas
# X_categorical = df[['regiao', 'estado', 'subeixo_tec', 'nome_curso', 'modalidade', 
#              'turno', 'sexo', 'etnia', 'faixa_etaria', 'renda_familiar', 'tipo_curso']]

In [ ]:
df

,situacao,regiao,estado,subeixo_tec,nome_curso,modalidade,turno,carga_horaria,fator_esforco_curso,sexo,etnia,faixa_etaria,renda_familiar,tipo_curso
0,Em curso,Região Centro-Oeste,MT,Informática,Engenharia de Computação,Educação Presencial,Integral,0.788628,-0.037279,F,NaN,25 a 29 anos,NaN,SUPERIOR
1,Em curso,Região Centro-Oeste,MT,Informática,Engenharia de Computação,Educação Presencial,Integral,0.788628,-0.037279,F,NaN,35 a 39 anos,NaN,SUPERIOR
2,Evadidos,Região Centro-Oeste,DF,Informática,Técnico em Informática,Educação Presencial,Integral,0.621008,-0.037244,F,PARDA,20 a 24 anos,NaN,TECNICO_INTEGRADO
3,Em curso,Região Centro-Oeste,DF,Informática,Ciência da Computação,Educação Presencial,Integral,0.556581,-0.037272,F,PARDA,25 a 29 anos,"0,5<RFP<=1",SUPERIOR
4,Evadidos,Região Centro-Oeste,DF,Informática,Ciência da Computação,Educação Presencial,Integral,0.556581,-0.037272,F,PARDA,35 a 39 anos,"0<RFP<=0,5",SUPERIOR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Em curso,Região Norte,AM,Informática,Técnico em Informática,Educação Presencial,Noturno,0.184050,-0.037244,F,PARDA,20 a 24 anos,NaN,TECNICO_SUBSEQUENTE
96,Evadidos,Região Norte,PA,Informática,Técnico em Informática,Educação Presencial,Noturno,0.184050,-0.037244,F,PRETA,25 a 29 anos,NaN,TECNICO_SUBSEQUENTE
97,Concluintes,Região Norte,AP,Informática,Técnico em Informática,Educação Presencial,Vespertino,0.751708,-0.037244,F,NaN,20 a 24 anos,NaN,TECNICO_INTEGRADO
98,Evadidos,Região Sudeste,SP,Informática,Técnico em Informática,Educação Presencial,Integral,0.590179,-0.037244,F,BRANCA,20 a 24 anos,NaN,TECNICO_INTEGRADO
99,Concluintes,Região Sudeste,MG,Informática,Técnico em Informática,Educação Presencial,Integral,0.718110,-0.037244,F,NaN,20 a 24 anos,NaN,TECNICO_INTEGRADO

In [ ]:
from sklearn.preprocessing import LabelEncoder

# Encode categorical columns with LabelEncoder (ignoring NaN)
cols = ['sexo', 'faixa_etaria', 'etnia', 'renda_familiar']  # List of columns to encode
encoders = {}

for col in cols:
  # Create a LabelEncoder with strategy='ignore' for each column
  encoders[col] = LabelEncoder()
  # Fit the encoder on the DataFrame column
  encoders[col].fit(df[col])

# Transform the categorical columns using fitted encoders
df_encoded = df.copy()  # Operate on a copy to avoid modifying original df

for col in cols:
  df_encoded[col] = encoders[col].transform(df[col])

In [ ]:
df_encoded

,situacao,regiao,estado,subeixo_tec,nome_curso,modalidade,turno,carga_horaria,fator_esforco_curso,sexo,etnia,faixa_etaria,renda_familiar,tipo_curso
0,Em curso,Região Centro-Oeste,MT,Informática,Engenharia de Computação,Educação Presencial,Integral,0.788628,-0.037279,0,4,2,5,SUPERIOR
1,Em curso,Região Centro-Oeste,MT,Informática,Engenharia de Computação,Educação Presencial,Integral,0.788628,-0.037279,0,4,4,5,SUPERIOR
2,Evadidos,Região Centro-Oeste,DF,Informática,Técnico em Informática,Educação Presencial,Integral,0.621008,-0.037244,0,2,1,5,TECNICO_INTEGRADO
3,Em curso,Região Centro-Oeste,DF,Informática,Ciência da Computação,Educação Presencial,Integral,0.556581,-0.037272,0,2,2,0,SUPERIOR
4,Evadidos,Região Centro-Oeste,DF,Informática,Ciência da Computação,Educação Presencial,Integral,0.556581,-0.037272,0,2,4,1,SUPERIOR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Em curso,Região Norte,AM,Informática,Técnico em Informática,Educação Presencial,Noturno,0.184050,-0.037244,0,2,1,5,TECNICO_SUBSEQUENTE
96,Evadidos,Região Norte,PA,Informática,Técnico em Informática,Educação Presencial,Noturno,0.184050,-0.037244,0,3,2,5,TECNICO_SUBSEQUENTE
97,Concluintes,Região Norte,AP,Informática,Técnico em Informática,Educação Presencial,Vespertino,0.751708,-0.037244,0,4,1,5,TECNICO_INTEGRADO
98,Evadidos,Região Sudeste,SP,Informática,Técnico em Informática,Educação Presencial,Integral,0.590179,-0.037244,0,1,1,5,TECNICO_INTEGRADO
99,Concluintes,Região Sudeste,MG,Informática,Técnico em Informática,Educação Presencial,Integral,0.718110,-0.037244,0,4,1,5,TECNICO_INTEGRADO

In [ ]:
df_encoded['sexo'].isna().sum()

0

In [ ]:
df_encoded.

In [ ]:
X_categorical.drop(columns=['sexo', 'faixa_etaria', 'etnia', 'renda_familiar'], inplace=True)
X_categorical

C:\Users\danie\AppData\Local\Temp\ipykernel_11252\1782827167.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_categorical.drop(columns=['sexo', 'faixa_etaria', 'etnia', 'renda_familiar'], inplace=True)

,regiao,estado,subeixo_tec,nome_curso,modalidade,turno,tipo_curso
0,Região Centro-Oeste,MT,Informática,Engenharia de Computação,Educação Presencial,Integral,SUPERIOR
1,Região Centro-Oeste,MT,Informática,Engenharia de Computação,Educação Presencial,Integral,SUPERIOR
2,Região Centro-Oeste,DF,Informática,Técnico em Informática,Educação Presencial,Integral,TECNICO_INTEGRADO
3,Região Centro-Oeste,DF,Informática,Ciência da Computação,Educação Presencial,Integral,SUPERIOR
4,Região Centro-Oeste,DF,Informática,Ciência da Computação,Educação Presencial,Integral,SUPERIOR
...,...,...,...,...,...,...,...
95,Região Norte,AM,Informática,Técnico em Informática,Educação Presencial,Noturno,TECNICO_SUBSEQUENTE
96,Região Norte,PA,Informática,Técnico em Informática,Educação Presencial,Noturno,TECNICO_SUBSEQUENTE
97,Região Norte,AP,Informática,Técnico em Informática,Educação Presencial,Vespertino,TECNICO_INTEGRADO
98,Região Sudeste,SP,Informática,Técnico em Informática,Educação Presencial,Integral,TECNICO_INTEGRADO
99,Região Sudeste,MG,Informática,Técnico em Informática,Educação Presencial,Integral,TECNICO_INTEGRADO

In [ ]:
X_dummies = pd.get_dummies(X_categorical)
X_dummies

,regiao_Região Centro-Oeste,regiao_Região Nordeste,regiao_Região Norte,regiao_Região Sudeste,estado_AL,estado_AM,estado_AP,estado_BA,estado_CE,estado_DF,...,turno_Integral,turno_Matutino,turno_Noturno,turno_Vespertino,tipo_curso_QUALIFICACAO,tipo_curso_SUPERIOR,tipo_curso_TECNICO_CONCOMITANTE,tipo_curso_TECNICO_EJA,tipo_curso_TECNICO_INTEGRADO,tipo_curso_TECNICO_SUBSEQUENTE
0,True,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,True,False,False,False,False
1,True,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,True,False,False,False,False
2,True,False,False,False,False,False,False,False,False,True,...,True,False,False,False,False,False,False,False,True,False
3,True,False,False,False,False,False,False,False,False,True,...,True,False,False,False,False,True,False,False,False,False
4,True,False,False,False,False,False,False,False,False,True,...,True,False,False,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,False,False,True,False,False,True,False,False,False,False,...,False,False,True,False,False,False,False,False,False,True
96,False,False,True,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,True
97,False,False,True,False,False,False,True,False,False,False,...,False,False,False,True,False,False,False,False,True,False
98,False,False,False,True,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,False
99,False,False,False,True,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,False

### Etnia

In [ ]:
# Split data into training and testing sets
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier


Xet_train, Xet_test, yet_train, yet_test = train_test_split(Xet_split, yet_split, test_size=0.25, random_state=42)

In [ ]:
# Create the KNN classifier with k=5 neighbors
knn = KNeighborsClassifier(n_neighbors=5)

# Train the KNN model on the training data
knn.fit(Xet_train, yet_train)

# Predict class labels for the test data
yet_pred = knn.predict(Xet_test)

# Evaluate the model performance (accuracy in this case)
from sklearn.metrics import accuracy_score

accuracy = accuracy_score(yet_test, yet_pred)
print(f"KNN Model Accuracy: {accuracy:.2f}")

KNN Model Accuracy: 0.65

In [ ]:
# Now you can predict the class label for a new data point (X_new)
Xet_val = Xet_join[Xet_join['etnia'].isnull()]  # Sample data point with 4 features
Xet_val

,regiao_Região Centro-Oeste,regiao_Região Nordeste,regiao_Região Norte,regiao_Região Sudeste,estado_AL,estado_AM,estado_AP,estado_BA,estado_CE,estado_DF,...,faixa_etaria_40 a 44 anos,faixa_etaria_45 a 49 anos,faixa_etaria_55 a 59 anos,tipo_curso_QUALIFICACAO,tipo_curso_SUPERIOR,tipo_curso_TECNICO_CONCOMITANTE,tipo_curso_TECNICO_EJA,tipo_curso_TECNICO_INTEGRADO,tipo_curso_TECNICO_SUBSEQUENTE,etnia
0,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,NaN
1,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,NaN
12,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,NaN
13,True,False,False,False,False,False,False,False,False,False,...,True,False,False,False,True,False,False,False,False,NaN
14,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,NaN
21,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,NaN
22,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,NaN
23,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,NaN
30,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,NaN
35,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,NaN
36,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,NaN
37,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,NaN
38,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,NaN
39,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,NaN
40,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,NaN
47,False,True,False,False,False,False,False,True,False,False,...,False,False,False,False,True,False,False,False,False,NaN
48,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,NaN
49,False,True,False,False,True,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,NaN
50,False,True,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,True,NaN
51,False,True,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,NaN
66,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,NaN
67,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,NaN
68,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,NaN
69,False,True,False,False,False,False,False,False,False,False,...,True,False,False,False,True,False,False,False,False,NaN
70,False,True,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,NaN
84,False,False,True,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,NaN
85,False,False,True,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,True,False,NaN
86,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,NaN
87,False,False,True,False,False,True,False,False,False,False,...,False,False,False,False,True,False,False,False,False,NaN
88,False,False,True,False,False,True,False,False,False,False,...,False,False,False,False,False,False,True,False,False,NaN
89,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,NaN
97,False,False,True,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,True,False,NaN
99,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,NaN

In [ ]:
pred = knn.predict(Xet_val)
pred

array(['PARDA', 'PARDA', 'PARDA', 'PARDA', 'PARDA', 'BRANCA', 'PARDA',
       'PARDA', 'BRANCA', 'BRANCA', 'BRANCA', 'BRANCA', 'BRANCA', 'PARDA',
       'BRANCA', 'BRANCA', 'BRANCA', 'BRANCA', 'PARDA', 'PARDA', 'PARDA',
       'PARDA', 'PARDA', 'PARDA', 'PRETA', 'PARDA', 'PARDA', 'PARDA',
       'PARDA', 'PARDA', 'PARDA', 'BRANCA', 'BRANCA'], dtype=object)

### Label Encoding

In [ ]:
from sklearn.calibration import LabelEncoder


class MultiColumnLabelEncoder:

    def __init__(self, columns=None):
        self.columns = columns # array of column names to encode


    def fit(self, X, y=None):
        self.encoders = {}
        columns = X.columns if self.columns is None else self.columns
        for col in columns:
            self.encoders[col] = LabelEncoder().fit(X[col])
        return self


    def transform(self, X):
        output = X.copy()
        columns = X.columns if self.columns is None else self.columns
        for col in columns:
            output[col] = self.encoders[col].transform(X[col])
        return output


    def fit_transform(self, X, y=None):
        return self.fit(X,y).transform(X)


    def inverse_transform(self, X):
        output = X.copy()
        columns = X.columns if self.columns is None else self.columns
        for col in columns:
            output[col] = self.encoders[col].inverse_transform(X[col])
        return output

In [ ]:
multi = MultiColumnLabelEncoder(
    columns=['instituicao', 'regiao', 'estado', 'subeixo_tec', 'nome_curso', 'modalidade', 
             'turno', 'sexo', 'etnia', 'faixa_etaria', 'renda_familiar', 'tipo_curso'
        ]
    )

Xc = multi.fit_transform(X_categorical)
Xc_dcd = multi.inverse_transform(Xc)

In [ ]:
Xc

,instituicao,regiao,estado,subeixo_tec,nome_curso,modalidade,turno,sexo,etnia,faixa_etaria,renda_familiar,tipo_curso
0,3,0,3,0,1,0,0,0,3,2,3,0
1,3,0,3,0,1,0,0,0,3,4,3,0
2,0,0,0,0,4,0,0,0,2,1,3,1
3,0,0,0,0,0,0,0,0,2,2,0,0
4,0,0,0,0,0,0,0,0,2,4,1,0
5,3,0,3,0,1,0,0,0,2,2,3,0
6,2,0,2,0,5,0,1,0,1,1,3,1
7,2,0,2,0,5,0,1,0,2,0,1,1
8,2,0,2,0,3,0,2,0,0,3,1,0
9,1,0,1,0,2,0,2,0,1,1,2,0

In [ ]:
Xc_dcd

,instituicao,regiao,estado,subeixo_tec,nome_curso,modalidade,turno,sexo,etnia,faixa_etaria,renda_familiar,tipo_curso
0,IFMT,Região Centro-Oeste,MT,Informática,Engenharia de Computação,Educação Presencial,Integral,F,NaN,25 a 29 anos,NaN,SUPERIOR
1,IFMT,Região Centro-Oeste,MT,Informática,Engenharia de Computação,Educação Presencial,Integral,F,NaN,35 a 39 anos,NaN,SUPERIOR
2,IFB,Região Centro-Oeste,DF,Informática,Técnico em Informática,Educação Presencial,Integral,F,PARDA,20 a 24 anos,NaN,TECNICO_INTEGRADO
3,IFB,Região Centro-Oeste,DF,Informática,Ciência da Computação,Educação Presencial,Integral,F,PARDA,25 a 29 anos,"0,5<RFP<=1",SUPERIOR
4,IFB,Região Centro-Oeste,DF,Informática,Ciência da Computação,Educação Presencial,Integral,F,PARDA,35 a 39 anos,"0<RFP<=0,5",SUPERIOR
5,IFMT,Região Centro-Oeste,MT,Informática,Engenharia de Computação,Educação Presencial,Integral,F,PARDA,25 a 29 anos,NaN,SUPERIOR
6,IFMS,Região Centro-Oeste,MS,Informática,Técnico em Informática para Internet,Educação Presencial,Matutino,F,BRANCA,20 a 24 anos,NaN,TECNICO_INTEGRADO
7,IFMS,Região Centro-Oeste,MS,Informática,Técnico em Informática para Internet,Educação Presencial,Matutino,F,PARDA,15 a 19 anos,"0<RFP<=0,5",TECNICO_INTEGRADO
8,IFMS,Região Centro-Oeste,MS,Informática,Sistemas para Internet,Educação Presencial,Noturno,F,AMARELA,30 a 34 anos,"0<RFP<=0,5",SUPERIOR
9,IFG,Região Centro-Oeste,GO,Informática,Sistemas de Informação,Educação Presencial,Noturno,F,BRANCA,20 a 24 anos,"2,5<RFP<=3,5",SUPERIOR

In [ ]:
from sklearn.impute import KNNImputer

imputer = KNNImputer(n_neighbors=1)
Xcat = imputer.fit_transform(Xc)

Xcat

array([[3., 0., 3., 0., 1., 0., 0., 0., 3., 2., 3., 0.],
       [3., 0., 3., 0., 1., 0., 0., 0., 3., 4., 3., 0.],
       [0., 0., 0., 0., 4., 0., 0., 0., 2., 1., 3., 1.],
       [0., 0., 0., 0., 0., 0., 0., 0., 2., 2., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 2., 4., 1., 0.],
       [3., 0., 3., 0., 1., 0., 0., 0., 2., 2., 3., 0.],
       [2., 0., 2., 0., 5., 0., 1., 0., 1., 1., 3., 1.],
       [2., 0., 2., 0., 5., 0., 1., 0., 2., 0., 1., 1.],
       [2., 0., 2., 0., 3., 0., 2., 0., 0., 3., 1., 0.],
       [1., 0., 1., 0., 2., 0., 2., 0., 1., 1., 2., 0.]])